        <!-- Clear before adding the footer -->
        <div class="clearfix"></div>
        <footer>
            <div class="col-sm-12">
                <div class="container-fluid">
                    <p>Content by Graeme Boy - 2014</p>
                    <p class="footer-credit"></p>
                </div>
            </div>
        </footer>
    </body>

</html>