        <!-- Clear before adding the footer -->
        <div class="clearfix"></div>
        <footer>
            <div class="col-sm-12">
                <div class="container">
                    <p>Graeme Boy (Grinnell, IA, USA) - 2014 </p>
                    <p class="footer-credit"></p>
                </div>
            </div>
        </footer>
    </body>

</html>