<html>

    <head>
        <title>Graeme Boy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">.page-title{margin-top:30px;margin-bottom:30px}.page-content{font-size:1.2em;line-height:1.5;color:#333;}.archive-post-container{border-bottom:1px solid #eee}.post-meta{margin-top:-20px;margin-bottom:20px;color:#999;font-size:14px;font-weight:300;margin-left:5px}.img-citation{color:#999;font-size:13px;font-weight:300;margin-bottom:15px}code{margin:50px 0; font-family: Consolas, "Liberation Mono", Courier, monospace; padding: 6px 10px;}h3{margin:25px 0 10px 0}h4{margin-top:25px;font-size:22px}.graeme-nav{background-color:#fff;font-size:25px;height:52px}.graeme-nav .graeme-brand{width:230px;height:48px}.graeme-nav .graeme-brand .graeme-picture{float:left;position:relative;height:48px;width:48px}.graeme-nav .graeme-brand .graeme-picture img{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;border:2px solid #eee;top:0;left:10px;position:absolute}.graeme-nav .graeme-brand h2.graeme-name{font-size:26px;font-weight:100;float:left;margin:13px 0 0 30px;color:#555}.graeme-nav .navbar-nav li a:hover{background-color:#efefef}.navbar-right li a {font-size:15px;margin-top:1px} .post-container{margin: 0 20px;}.call-to-action{font-weight:600;margin-top:30px}.sidebar h3{margin-top:40px}.sidebar .cat-list li{list-style:none}.sidebar .cat-list li a{color:#999;font-size:17px;font-weight:300}footer{margin-top:50px;padding-top:20px;border-top:1px solid #eee;color:#999;font-size:12px;font-weight:300}.nav-icon { height: 32px; fill:#111; width: 32px; background-image: url('/img/github.svg');} code.wrap { padding: 10px 10px; white-space: pre-wrap; border: 1px solid rgba(199, 37, 78, 0.2); display: block; margin:0;}.post-thumb{ margin-bottom: 5px; margin-right: 10px; } </style>
        <link rel="author" href="https://plus.google.com/+GraemeBoy/posts"/>
    </head>

    <body>
        <!-- Begin navigation bar -->
<% include navigation/index %>
        <div class="main">
            <div class="container-fluid post-container post-full">