<div class="sidebar col-sm-3 col-sm-offset-1" role="complimentary">
    <div class="container-fluid">
        <h3>Article Categories</h3>
        <ul class="cat-list">
        <% for (var cat in cats) { %>
        	<li <% if (cat == category) { %> class="active" <% } %>>
        		<a href="/cat/<%= cat %>"><%= cat %> (<%= cats[cat] %>)</a></li>
        <% } %>
        </ul>
    </div>
</div>