<div class="clearfix"></div>
<!-- <div class="sidebar col-sm-offset-1" role="complimentary">
    <div class="container-fluid"> -->
        <!-- <h4>Natural Language Clock <small>Just for fun</small></h4>
        <a href="https://github.com/graemeboy/Qlock---natural-language-clock-interface">
            <div style="background-color:#fff;margin-top:15px">
                <div id="qlock" class="qlock qlock-light"></div>
            </div>
        </a> -->
    <!-- </div>
</div> -->