<div class="sidebar col-sm-3" role="complimentary">
    <div class="container-fluid">
        <h3>Related topics</h3>
        <ul class="cat-list">
        <% for(var i=0; i<cats.length; i++) {%>
           <li><a href="/cat/<%= cats[i].name %>"><%= cats[i].name %> (<%= cats[i].count %>)</a></li>
        <% } %>
        </ul>
    </div>
</div>