<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
    <title>Fancy Clock Time Display</title>
    <meta name="description" content="Examples of Qlock, a natural language clock">
    <meta name="author" content="Graeme Boy (graemeboy@gmail.com)">
    <link href="/qlock/qlock.css" type="text/css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript">
</script>
</head>

<body>
    <div class="container">
        <h2>Qlock Examples</h2>
		<p style="max-width:850px">Qlock is a natural language clock display. It shows the time down to minutes, with boarders around the clock face indicating the number of minutes before, or after, the next five minute steps. English words are printed for each step.</p>
        <table style="margin-left:30px;">
            <tr>
                <td>
                    <h3>Light theme</h3>

                    <div style="background-color:#fff;padding:10px;">
                        <div class="qlock qlock-light"></div>
                    </div>
                </td>

                <td>
                    <!-- Give some space for this one -->
					<div style="margin-left:70px;">
                    <h3>Dark theme</h3>

                    <div style="background-color:#000;padding:10px;">
                        <div class="qlock qlock-dark"></div>
                    </div>
					</div>
                </td>
            </tr>
        </table>
    </div><script type="text/javascript" src="/qlock/qlock.js">
</script>
</body>
</html>