<% include ../includes/header %>
<% title = 'About Me<br/><small>Nice to meet you, I\'m Graeme</small>'; %>
<% include ../includes/post-content-head %>

    <div class="page-content">
    <% include partials/aboutMeContent.ejs %>

            <div class="call-to-action">Get in contact with me on <a href="http://www.linkedin.com/profile/view?id=78694591">LinkedIn</a></div>
    </div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
<% include ../includes/sidebar %>
<% include ../includes/footer %>
