<% include ../includes/header %>

    <h1 class="page-title">
        About Me
    </h1>
    <div class="post-meta">August 2014</div>

    <div class="page-content">

    	<p>I grew up in South Africa, focusing on the sciences in school - taking 4 years of computer science and Java programming. I was a good student, and went to study at a liberal arts college in the United States. Before leaving, I taught myself Python and made some web apps with Django (including the first CMS for Google App Engine), which got featured on the official Google blog. I did a year of computer science at college, before having to drop out for financial reasons (during the '08/09 recession.) I went home feeling upset, but I taught myself PHP and worked as a freelancer for a year, building up clientele and learning about creating web products. Eventually I could afford to go back to school and support myself, working as a developer in my free time. Around then, I launched a product called OptinSkin that generated over $500,000 revenue over a short period. I did another year of computer science, before switching to Psychology and Neuroscience (I figured that college was my only opportunity to do a lab science.) I completed these syllabi in two years, and graduated with honors.</p>

    	<p>Since then, I have continued to hack away on products as a remote developer. I am busy becoming a Node.js Jedi, and learning more about good software design every day. I have a ferocious hungry for reading, and consume a few books a week.</p>


            <div class="call-to-action">Get in contact with me on <a href="http://www.linkedin.com/profile/view?id=78694591">LinkedIn</a></div>
</div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
<% include ../includes/sidebar %>
<% include ../includes/footer %>