<% include ../includes/header-full %>
    <style type="text/css">
        .cbt_field {
            margin-bottom: 15px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <div class="well">
        <div>
            <strong>Cognitive Behavioral Therapy App</strong>
        </div>
        <div>A private environment to facilitate CBT</div>
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-2">
                <!--Sidebar content-->
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="#" id="home-btn">Home</a>
                    </li>
                    <li>
                        <a href="#" id="learn-btn">Learn More</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div id="how-tool-cbt" class="well">
                    <a id="how-cbt" href="#">How do I use this tool?</a>
                    <a href="#" id="close-how-tool-cbt" class="close" data-dismiss="alert">&times;</a>
                    <div id="explain-cbt" style="display:none;">
                        <p>This tool is created to facilitate cognitive therapy.</p>
                        <ol>
                            <li>In the Automatic Thoughts area, simply write out the automatic thoughts that cause you to experience a negative emotion. For example, you could write "These people think that I'm not good enough."</li>
                            <li>In the Cognitive Distortion area, select one of the cognitive distortions provided that explains why this thought is not true. Using the example from above, the cognitive distortion might be "Jumping to conclusions" and "Emotional Reasoning."
                                <li>In the Rational Response area, write down a response to this thought, setting it right. For example, "I don't know for certain what these people think of me, and it's actually better if I assume that they like me. It would be unfair to them for me to assume that they don't like me."</li>
                        </ol>
                        <p>Do this for 10-20 minutes a day.</p>
                    </div>
                </div>
                <div id="cbt-practice-area">
                    <div>
                        <h4>Cognitive Distortions</h4>
                        <ul class="inline">
                            <li>All-or-Nothing Thinking</li>
                            <li>Overgeneralization</li>
                            <li>Mental Filter</li>
                            <li>Disqualifying the Positive</li>
                            <li>Jumping to Conclusions (Mind-Reading & Fortune-Telling)</li>
                            <li>Magnification</li>
                            <li>Emotional Reasoning</li>
                            <li>Should-Statement</li>
                            <li>Labeling</li>
                            <li>Personalization</li>
                        </ul>
                    </div>
                    <div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <h4>Automatic Thought</h4>
                            </div>
                            <div class="col-sm-4">
                                <h4>Cognitive Distortion</h4>
                            </div>
                            <div class="col-sm-4">
                                <h4>Rational Response</h4>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                            <div class="col-sm-4">
                                <textarea class="cbt_field form-control" style="width:100%;height:120px;"></textarea>
                            </div>
                        </div>
                        <button id="reset_form" class="btn btn-default">Reset Fields to Blank</button>
                    </div>
                </div>

                <div>
                    <h2>Sentence Completion</h2>
                    <h3>Three things that went well today were -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
                    <h3>If I bring more awareness to my life -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
                    <h3>Self-acceptance to me means -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
                    <h3>If I accept myself even when I make mistakes -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
                    <h3>I am looking forward towards -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
                    <h3>I am appreciative of -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
                </div>
                <div>
                    <h2>Challenging Limiting beliefs</h2>

                    <div>
                        <input type="text" class="form-control" placeholder="One limiting belief that I have is that -">
                    </div>

                    <div class="row form-group">

                        <div class="col-sm-6">
                            <h4>Advantages of belief</h4>
                            <textarea class="form-control" style="height:350px"></textarea>
                        </div>

                        <div class="col-sm-6">
                            <h4>Disadvantages of belief</h4>
                            <textarea class="form-control" style="height:350px"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>A healthier believe would be</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>

                <div>
                    <h2>The Belief Explorer</h2>

                    <div class="form-group">
                        <label>One thing that I fear happening is that</label>
                        <input type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>What would that mean?</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>What would that mean?</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>What would that mean?</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <h3>A healthier belief would be:</h3>
                        <textarea class="form-control" style="height:350px"></textarea>
                    </div>
                </div>

                <div>
                    <h2>Morning Sentence Completion</h2>

                    <h3>What is good about my life today?</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

                    <h3>What needs to be done today?</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

                    <h3>Living consciously to me means -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

                    <h3>If I live 5 percent more consciously today -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

                    <h3>If I accept myself even when I'm afraid -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

                    <h3>If I take more responsibility for my thoughts and feelings -</h3>
                    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

                </div>



                <div id="about-cbt" style="display:none">
                    <h2>About CBT</h2>
                    <p>Cognitive Behavioral Therapy is a psychotherapeutic approach that focuses on changing thought patterns of the subject. By reinforcing a more rational pattern of thinking, the subject becomes psychologically healthier.</p>

                    <p>One approach to CBT has been to have the subject write out her automatic thoughts regarding a distressing matter, and then write out a rational response to these automatic thoughts. In this way, the subject engages in a new pattern of thinking regarding the distressing matter. Over time, this new way of thinking can be reinforced, resulting in an improved quality of thinking.</p>

                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        jQuery(document).ready(function($) {

            $('#learn-btn').click(function() {
                $('#cbt-practice-area').hide();
                $('#home-btn').parent().removeClass('active');
                $('#about-cbt').show();
                $(this).parent().addClass('active');
            });
            $('#home-btn').click(function() {
                $('#about-cbt').hide();
                $('#learn-btn').parent().removeClass('active');
                $('#cbt-practice-area').show();
                $(this).parent().addClass('active');
            });

            $('#reset_form').click(function() {
                $('.cbt_field').val('');
            });
            $('#how-cbt').click(function() {
                $(this).hide();
                $('#explain-cbt').show();
            });
            $('#close-how-tool-cbt').click(function() {
                $('#how-tool-cbt').hide();
            });
        });
    </script>

    <% include ../includes/footer %>