<% include ../includes/header-full %>
    <style>
    .portfolio-img img {
        margin-bottom: 15px;
        width: 100%;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
    .project-title {
        margin: 45px 0 40px 0;
        text-align: center;
        font-size: ;
    }
    .project-sub {
        margin-top: 0;
    }
    .portfolio-desc ul li {
        font-size: 16px;
        padding-bottom: 8px;
    }
    </style>

    <h1 style="text-align:center">Software Engineering Portfolio</h1>
    <h3 style="font-size:15px;text-align:center">If you are interested in any of my projects, or in hiring me, contact me via <a href="http://www.linkedin.com/profile/view?id=78694591">LinkedIn</a>
    </h3>


    <div class="row">
        <h2 class="project-title">2014 -
            <strong>Flat File CMS </strong>for Private Inc.</h2>


        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/site-settings-blue.png">
        </div>
        <div class="col-sm-6 portfolio-desc">
            <h4 class="project-sub">Technical Description and Responsibilities</h3>
                <ul>
                    <li>Fully responsible for design and implementation of a specialized CMS, built from the group up</li>
                    <li>I took on project to challenge myself in design as well as software engineering practices</li>
                    <li>I focused my energies on created clean object-oriented code, as well as being creative with the product development</li>
                    <li>Written in object-oriented PHP 5, with Slim framework for handling HTTP requests</li>
                </ul>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/write-post-black.png">
        </div>
        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/edit-layouts-green.png">
        </div>
        <!-- <img src="/img/portfolio/write-post-red.png"> -->
    </div>

    <div class="row">
        <h2 class="project-title">2014 –
            <strong>Web Crawler and Parser </strong> for Private Inc.</h2>
        <div class="col-sm-12 portfolio-desc">
            <ul>
                <li>Created a web cralwer and parser in Node.js to analyze hyperlinking to domains</li>
                <li>Initial allocated budget for project was $50,000, but I was able to meet all requirements well within this</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <h2 class="project-title">2013 –
            <strong>Global Renaissance Project </strong>at Grinnell College and University of Iowa</h2>
        <div class="col-sm-6 portfolio-desc">
            <ul>
                <li>Created a system to analyze 25,000 books from the Renaissance using Hadoop on AWS, Stanford’s Natural Language Processing Toolkit in Python and Java, and some JavaScript code</li>
                <li>Presented accessible data on a public website, using various statistical approaches, D3.js and other JavaScript packages</li>
                <li>With a small team, I presented a new perspective on how English writers thought of and described non-Western cultures they encountered during the time</li>
        </div>
        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/global-ren.jpg">
        </div>
    </div>

    <div class="row">
        <h2 class="project-title">2013 –
            <strong>Social Engagement Analysis System </strong>for Private Inc.</h2>
        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/social-metrics-finding.jpg">
        </div>
        <div class="col-sm-6 portfolio-desc">
            <ul>
                <li>Designed and implemented a tool for generating a social engagement profile for any website’s content
                </li>
                <li>Prototype written initialy in Python, and then rewritten later in JavaScript</li>
                <li>Used D3.js to create display of statistics</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/social-metrics-analyzing.jpg">
        </div>
        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/social-metric-stats-2.jpg">
        </div>
    </div>

    <div class="row">
        <h2 class="project-title">2013 –
            <strong>OpenWeb Start </strong>for OpenWeb, South Africa</h2>
        <div class="col-sm-6 portfolio-desc">
            <ul>
                <li>Approached by CEO of OpenWeb, one of the largest ISPs in Africa, to create a reseller's panel for their service</li>
                <li>I lead the project to completion in under three months, within budget, even though before me it had stagnated for years and through multiple development teams</li>
                <li>The project has been successfully launched and integrated into their existing services</li>
                <li>Project was written in PHP 5 using an MVC design pattern. Included establishing an API and working with external RESTful APIs, corporate profiles and logins, payment processing, and product/service management</p>
            </ul>
        </div>
        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/openweb-start-login.png">
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/openweb-start-settings.png">
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
    	<h2 class="project-title">2013 –
            <strong>Race-Based Attentional Bias Experiment </strong>at Grinnell College</h2>
        <div class="col-sm-6 portfolio-desc">
            <ul>
                <li>Link to full summary: <a href="/trawalter">Race-Based Attentional Selection</a></li>
                <li>Exposed an experimental design flaw in a major piece of research in race relations</li>
                <li>Created new software with improved experimental design for this paradigm</li>
                <li>Presented proposal in a 200-level social psychology class at Grinnell College</li>
            </ul>
        </div>
        <div class="col-sm-6 portfolio-img">
            <img src="/img/portfolio/trawalter.jpg">
        </div>
    </div>

    <div class="row">
    	<h2 class="project-title">2012 –
            <strong>Experimental Software for Vision Science Research </strong>at Grinnell College</h2>
           <div class="col-sm-12 portfolio-desc">
           		<ul>
           			<li>Developed and maintained research-quality software for mid-level vision science research, working under Professor Christopher DiMattina.</li>
           		</ul>
           </div>
	</div>
    <% include ../includes/footer %>