<nav class="graeme-nav navbar navbar-default" role="navigation">
    <div class="navbar-header graeme-brand">
        <div class="graeme-picture">
            <img src="/img/graeme-picture.jpg" width="51px" height="51px">
        </div>
        <div>
            <a href="/">
                <h2 class="graeme-name">Graeme Boy</h2>
            </a>
        </div>
    </div>
    <div class="container-fluid hidden-xs">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="http://www.linkedin.com/profile/view?id=78694591">LinkedIn</a>
            </li>
            <li>
                <a href="/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="http://github.com/graemeboy">Github</a>
            </li>
            <li>
                <a href="http://twitter.com/graeme_boy">Twitter</a>
            </li>
            <li>
                <a href="http://plus.google.com/u/0/+GraemeBoy">Google+</a>
            </li>
        </ul>
    </div>
    <!-- .navbar-collapse -->
</nav>