<nav class="graeme-nav navbar navbar-default" role="navigation">
    <div class="navbar-header graeme-brand">
        <!-- <div class="graeme-picture">
            <img src="/img/graeme-picture.jpg" width="51px" height="51px">
        </div> -->
        <div>
            <a href="/">
                <h2 class="graeme-name">Graeme Boy</h2>
            </a>
        </div>
    </div>
    <div class="container-fluid hidden-xs">
        <ul class="nav navbar-nav navbar-right" style="float:none!important;width:358px;margin: 0 auto;">
            <li>
                <a href="/all-posts">All Posts</a>
            </li>
            <li>
                <a href="/about">About Me</a>
            </li>
            <li>
                <a href="/resume.pdf">Resume</a>
            </li>
            <li>
                <a href="/portfolio">Portfolio</a>
            </li>
        </ul>
    </div>
    <!-- .navbar-collapse -->
</nav>