<nav class="graeme-nav navbar navbar-default" role="navigation">
    <div class="container-fluid hidden-xs">
        <ul class="nav navbar-nav navbar-right" style="float:none!important;width:358px;margin: 0 auto;">
            <li>
                <a href="/all-posts">All Posts</a>
            </li>
            <li>
                <a href="/about">About Me</a>
            </li>
            <li>
                <a href="/resume.pdf">Resume</a>
            </li>
            <li>
                <a href="/portfolio">Portfolio</a>
            </li>
        </ul>
    </div>
    <!-- .navbar-collapse -->
</nav>