<div>
  <img src="/img/about/graemeClass.jpg" class="pull-right img-rounded" style="width:300px;padding-left:15px">
<p>
  I grew up in South Africa, focusing on the sciences in school - taking 4 years of computer science and Java programming. I was a good student, and went to study at a liberal arts college in the United States. Before leaving, I taught myself Python and made some web apps with Django (including the first CMS for Google App Engine), which got featured on the official Google blog. I did a year of computer science at college, before taking a break to work as a software developer for a year. I built up clientele and learned about creating web products during that time, after which I went back to school. Around then, I launched a product called OptinSkin that generated over $500,000 revenue over a short period. I did another year of computer science, before switching to Psychology and Neuroscience (knowing that college would be my only opportunity to do a lab science.) I completed these syllabi in two years, and graduated with honors.
</p>
</div>

<div class="clearfix"></div>

<p>I am currently living in San Francisco.</p>
