<% include ../includes/header %>
<% title += '<br/><small>Part of a series of posts on beautiful experiences</small>'; %>
<% include ../includes/post-content-head %>

<div class="page-content">

<p>Millions of raindrops loving touch down on the iron roof of the balcony, as I stand, as free as any man has ever been in the history of the world, to listen, open-eared and open-minded, as thousands of crickets celebrate in the cool night air, surrounded by life, in the deep everlasting security of oneness with nature. Thunder contributes bass to the rain's gentle song, together stimulating the total spectrum of my audition, and yet punctuated by infinite silences, and the playful alternations go on and on, too fast for my simple mind to comprehend, and yet easy enough for my soul to appreciate the pattern, a pattern that reflects all things in the universe.</p>

<p>And I stand here, as free as any man has ever been, and I breathe in deeply right to my heels, flecks of rain touching even me now as it grasps out for more life to entice with its blessed  coolness, both fresh and familiar - for rain, one of the earth's oldest forces is greeting another human life, one of those recent additions of consciousness to the universe.</p>

<p>And all sounds now loud and confusing to my verbal mind, which surrenders so that the rest of me can enjoy this old but fresh celebration, and I wish that I had too learned somehow to sing back and contribute a verse, as a man standing, as free as any man has ever been, yet completely belonging to and at one with this ancient celebration of nature and its delightful patterns.</p>
</div>
</div>
<% include ../includes/footer %>