<% include ../includes/header %>
<% title += '<br/><small>Part of a series of posts on beautiful experiences</small>'; %>
<% include ../includes/post-content-head %>

<div class="page-content">

<p>I am lying in bed, with an interesting book to read, and food to eat next to me - I am as comfortable as anyone could ever wish to be. There is water to drink when I am thirsty, food to eat when I am hungry, time and a safe place to sleep when I am tired. I hear children playing in the distance, and birds chirping, and I am reminded that I am not alone, because there is always life surrounding me; there is always life.
And I breathe easily and slowly, for in this moment I know that everything is fine, all is well and I can relax completely, relax as man has never been able to do in the past, for I know that I am safe, healthy, and that I can provide for myself on this day, and that I can have peace, at least for this moment - all that there ever really is.</p>

</div>
</div>
<% include ../includes/footer %>