<% include ../includes/header %>
<% include ../includes/post-content-head %>

<div class="page-content">

<p>A thought occured to me today: It's strange that so many people have the same job titles, when clearly people aren't <em>doing</em> exactly the same things in their corporate environments. Worst of all, the current practice of assigning job titles is a boring, lazy, uninspiring, and uncreative dogma.</p>

<p>If you have a passion and a focus at work, then you're probably not just <em>a</em> "Product Manager" - you could actually be <em>the</em> <strong>Corporate Stability Architect</strong>. Instead of being just another "Front-end Engineer" who happens to be working specifically front-end performance, instead you're the <strong>Frontline Resource Manager</strong>.</p>

<p>At least that would give you more meaning and job specification. When you wake up in the morning, you know "I'm here to manage our frontline resources; to me that means I constantly need to improve memory use and decrease the amount of information going through the wire."</p>

<p>Job satisfaction would peak and employees would be more focused and passionate, given this stronger, clearer, unique identity. All it takes is a little bit of creativity on the part of the employer (or <strong>Tribe Recruiter</strong>).</p>

<p><strong>What is your ultimate job title that fits your strengths and primary focus?</strong></p>

</div></div>

<% include ../includes/sidebar %>
<% include ../includes/footer %>