<% include ../includes/header %>
<% include ../includes/post-content-head %>

<p><strong>a) Sciences use experiments to probe the external world</strong></p>

<p>One thing that all sciences have in common is that they employ the <em>scientific method</em>. To do so, scientists create experiments, starting with an hypothesis, setting up strict conditions for experimentation, running the experiment, and then deciding whether or not the results support the hypothesis or not. When the hypothesis is sufficiently supported by the community, it becomes the basis of further hypothesizing, and so the field progresses.</p>

<p><strong>b) Computer Science is the study of algorithms</strong></p>

<p>An algorithm is a set of instructions that a human or computer can follow in order to solve a problem. Computer Science moves forwards when new algorithms are discovered through logical or probabilistic reasoning. A new algorithm is proven mathematically, after which its becomes the basis for other algorithms. Computer Science then studies this algorithm theoretically, describing the number of logical steps in its computation (time complexity), or the storage required to maintain information along the way (space complexity).</p>

<p>The field does not describe these two components, time or space complexity, by observing how the algorithm performs in the external world - this would be imprecise due differences in hardware and software platforms. The descriptions are made theoretically, and this is what separates the field from the sciences.</p>

<p><strong>c) Discoveries in Computer Science are like discoveries in Mathematics</strong></p>

<p>For a field of study to be empirical, its discoveries must be based on the external world. In physics, for example, the discovery of the law of gravity (which states that bodies attract each other with force proportional to their masses, and inversely proportal to their distance apart) was an empirical discovery, because it was found by observing the way that bodies interact in reality.</p>

<p>In mathematics, by contrast, the discovery that "The sum of all angles in a triangle is equal to the sum of two right angles" was not an empirical discovery - the rule was not found by observing a triangle in the external world. It was deduced using axioms of geometry (such as "Two angles on a straight line make two right angles") and reasoning through to the next theorem, and so on, until the relevant theorem was found. After a mathematical theorem has been proved in this way, it becomes the basis of new theorems, and so Mathematics advances. By its way of progressing through logical reasoning rather than empirical observation, Computer Science is like the field of Mathematics.</p>

<p><strong>d) Mathematics is an art</strong></p>

<p>This point has been covered by mathematicians elsewhere, and is not the subject of the present essay.</p>

<p><strong>e) Because Computer Science progresses in the same way as Mathematics does, it, too, is an art.</strong></p>
</div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
<% include ../includes/sidebar %>
<% include ../includes/footer %>