<% include ../includes/header %>

    <h1 class="page-title">
        <%= postTitle %>
    </h1>
    <div class="post-meta">August 2014</div>

    <div class="page-content">
<p>You'll notice something interesting on the drive from Cape Town International Airport to the business district. Travellers who have been to Cape Town will know that all of the land surrounding that road is a hive of the homeless, saturated with corregated iron shacks, the political euphemism for which is "informal housing." The startling fact is that a great number (I would estimate <em>at least</em> 10% of the total) of these "houses" is connected by a fairly large satilite dish, its cable crawling through large, inevitable gaps in each house's structure where thin iron walls are nailed together. The dish receives a lush bouquet of television stations via the DSTv network (owned by the multi-billion dollar conglomorate Naspers, which - a worthwhile digression - is somewhat unrecognized monolopy in the South Africa tech industry. All visitors of the country will recognized brands such as Media24, SuperSport, MNet, MWEB, and Kalahari.com, which are a few enterprizes marching under its formerly Afrikaans, and still today quite pale, commercial banner.)</p>

<p>Why are these shacks, in an area where there is a severe shorage of bathrooms (the local government's highly criticised solution for which has been to install "porta-loos," really a bucket with a seat, at strategic locations in the area), connected to the country's highest-tier digital satilite service? It's difficult to make sense of out it, but it makes me a little more aware that in the absence of necessities, entertainment does not become a luxury. Rather, it seems to loom all the more necessary.</p>
<div class="call-to-action"><%- callToAction %></div></div></div>

<% include ../includes/sidebar %>
<% include ../includes/footer %>