<% include ../includes/header %>

    <h1 class="page-title">
        <%= title %>
    </h1>
    <div class="post-meta">May 2014</div>
    <div class="page-content">
        <h3>Listen to Graffiti: It's Honest</h3>
        <img src="http://37.media.tumblr.com/7245d434ec335a634fdf026dca12e9bd/tumblr_mzd681ALWc1qfzhxoo1_250.jpg" class="post-thumb pull-left">
        <p>Graffiti are valuable as records in social science research, because they make public dialogues that are sensitive or highly political, which are often censored or repressed, accessible for research. For example, in Nigeria, research at the University of Benin revealed a corpus of fascinating political interactions among students, a history that would have been censored from student-run publications (Nwoye, 1993). Because graffiti can be used as an anonymous platform for public dialogue, it can often answer questions about oppressed groups, especially when access to the graffiti space is limited only to that group. One example of this is the corpora of graffiti found in gendered public restrooms. My own research found, in support of Cole (1991), that graffiti written by women in gendered bathrooms at Grinnell College tended to be positive, collaborative and advisory, while graffiti written by men tended to be deprecating towards others. Yes, even at Grinnell.</p>

<h3>Graffiti, Gendered?</h3>
<p>In 1991, Cole wrote that authors of washroom graffiti follow “social conditioned, gender-oriented communication strategies,” and therefore the content of each of the group’s graffiti exposes <em>different styles of interacting and perspectives on society</em>. Specifically, muted groups use graffiti to interact and <strong>collaboratively rethink their positions in a stratified society</strong>, while dominant groups use these interactions to reinforce their dominance. For example, women who write such graffiti engage in more relationship-oriented, advisory interactions, compared to men, and can follow the style of consciousness-raising groups. Men, on the other hand, tend to deprecate other groups, rather than engage in collaborative or advisory dialogues.</p>

<h3>Et tu, Grinnell?</h3>
<p>Surprisingly, Cole's argument follows even in the most liberal places. I was curious about whether graffiti at our small liberal arts college would also be gendered, and so I gathered data from our public bathrooms.</p>
<p>Twenty-three sample sentences from a male-gendered bathroom, and 26 sentences from a female-gendered bathroom, were analyzed. Samples were analyzed for complexity, term frequency, and sentiment. In accordance with Cole’s theory, I expected a difference between the samples on the dimension of sentiment, because women are an oppressed group in society, but not necessarily in the complexity of the samples. Specifically, samples in the set of women are expected to contain a sentiment of collaboration and advising, whereas the other set of samples is expected to be neutral or degrading towards other groups.</p>

<h3>Methodology and Analysis</h3>

<p>The bathrooms in which data gathering occurred had recently been painted, and so readable messages were collected from all surfaces of both bathrooms. This search yielded 26 readable samples from the women’s restroom, and 23 readable messages from the men’s room. To create a data-driven comparison of the samples, I measured and compared the complexity of the sentences (as measured by number of syllables per word), word frequency, and the sentiment of the most common words.</p>

<p>Samples from the men’s stalls had an average of 1.45 syllables per word, while women’s stalls contained samples with an average of 1.44 syllables. Both sets, then, were equally monosyllabic, and neither more linguistically complex than the other. Samples from the women’s stalls tended to be slightly longer. The average sentence length was 9.27 words, compared to 7.89 for men – roughly an extra word for every sentence in the women’s set. The most common words that were not “stop words” (I.E. all words aside from common words, such as “the”, “this”, and so forth) in the women’s set was “love” (used three times) followed by “place”, “good” and “hope” (each used twice.) For men, the most common words were “like” and “you” (each used three times) and then “poop” and “sun” (used twice each.) The most common phrases in the women’s set were “is the,” “love your,” and “is not,” each used twice. For men, the most common phrases were: “on this,” and “sun that.”</p>

<h3>Conclusions and Discussion</h3>

<p>The sentiment of the most common words and phrases in the sample from the men’s room was neutral. The word “like” was only used once in the non-comparative sense. Only two other examples of sentiment appeared in this set of samples, both of which were deprecating. These data support Cole’s argument that men’s graffiti often deal with sex, and is offensive about other particular group “on a surface level.”</p>

<p>The women’s graffiti, however, was quite different in sentiment. Three sentimental words, “love”, “good”, and “hope”, were in the list of most-occurring words. The sentiment of these words is positive, and, in the case of “love”, relationship-oriented. Moreover, “love your,” an advisory phrase (used as stems in sentences such as “love your body,” and “love yourself”), was in the list of most commonly used phrases. Other examples in the set further illustrate the advisory and collaborative nature, such as the sentences, “Live your life. Just do it,” “Be honest. Listen well. Try,” and “Your worth as a human being is not determined by your academic performance.” These data all strongly support Cole’s argument that women’s graffiti are interpersonal, collaborative, advisory, and relationship-oriented. Moreover, sentences such as “End slut-shaming” and “The world is not out to get you” support Cole’s argument that these interactions resemble a form of consciousness-raising.</p>
        
        <h4>Reference</h4>
        <p>Cole, C. M. (1991) Oh wise women of the stalls. Discouse & Society (2), 401-411.</p>
<p>Nwoye, O. G. (1993) Social issues on walls: graffiti in university lavatories. Discourse & Society (4), 419-442.</p>

        
</div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
<% include ../includes/sidebar %>
<% include ../includes/footer %>