<% include ../includes/header %>

    <h1 class="page-title">
        <%= title %>
    </h1>
    <div class="post-meta">September 2013</div>
    <div class="page-content">
        <p>First of all, let me make it clear that Google Web Designer is <em>not</em> a threat to web developers, despite what <a href="http://www.digitalartsonline.co.uk/news/interactive-design/why-google-web-designer-is-more-of-threat-designers-than-it-is-adobe/">some reviewers</a> have said. Just like all of the other programs that allow designers to create design templates, from Dreamweaver to Weebly, it will of course have a user base. However, those programs by necessity can never be on the front edge of development, and professional developers will not adopt them. Google Web Designer will be good for tasks like: Designing a quick banner, or integrating conveniently with Google Ads. These will be welcome additions to many a designers toolbox – it might even be good for developers who struggle with design, as much as for designers who struggle with coding – but it's not as if this product is going to change the game in any serious way.</p>
<p>In terms of the product's user interface, <strong>so far I have found it to be clunky, and non-intuitive</strong>. This is particularly disappointing to me, because Google is supposedly a company that has <a href="http://www.fastcodesign.com/3016268/google-the-redesign">learned to value design</a>. At first, while using the product, I thought I might be dealing with something similar to the Google Inspect Element tool, where I can click on parts of code and edit the colors, dimensions, and other CSS properties of those elements. I was unhappy to discover that they didn't include any strong connection between these products, despite the fact that it would have made an intuition bridge for developers who already use the former.</p>
<p>After my first 15 minutes of working, this was literally all I was able to make – so difficult was it to figure out how to control elements.</p>
<p>What I found interesting was the 3D translation tool; they've clearly made it easy to manipulate elements in this way. However, there is  currently no tutorials appearing in a search on YouTube for how to use this, or other more basic features of the product. Indeed, <a href="https://support.google.com/webdesigner/#topic=3249465">tutorials and documentation</a> are both scant, and difficult to find (see the linked content in this sentence, however). The one page that was most easy to find was the documentation about creating animations. Of course, this is an advanced feature; all the while, I was struggling with the most basic processes of changing the colors of various elements, and adding images.</p>
<p>To sum up, I found the product difficult to use. Moreover, I don't believe that it will make a substantial different to the world of development. It is a good addition, however, to a designer's toolkit for those times when they need to make a quick HTML banner – however, Adobe already has a plethora of products that can render these as images. Animation, then, is really what is made more accessible through this new, again substantially underwhelming, Google product. These days, unfortunately, it truly would have been more of a surprise if this Google product had been unique and easy to use.</p>
        
</div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
<% include ../includes/sidebar %>
<% include ../includes/footer %>