
<% include ../includes/header %>
<% include ../includes/post-content-head %>
    <div class="page-content">
<blockquote>The more of the details of our daily life we can hand over to the guard effortless custody of automatism, the more our higher power of mind will be set free for their own proper work</p><footer>William James, p. 122</footer></blockquote>

<p>Habit, as a concept, is old. It has roots stretching to the ancient Greeks, through the medieval thinkers, to Kant, Mill, Dewey, and Bourdieu. For all this time, habit has generally had a consistent meaning: The essential <em>character traits</em> that we each possess. Indeed, habit comes from the Latin verb <em>habere</em>, which means, “to have.” However, within Psychology, the Behaviorism movement, starting with Watson’s words on habit in 1914, <strong>reduced habit to a sequence of reflexes in response to environmental stimuli</strong>. The concept was thus lowered, within Psychology, to the level of simple, repeated reactions to the environment.</p>

<p>Meanwhile, thinkers outside of the Behaviorism movement urged us to <strong>"protest against the tendency in psychological literature to limit [habit’s] meaning to repetition,"</strong> arguing that <strong>"repetition is in no sense the essence of habit."</strong> (Dewey, 1922, pp. 41-42.) In Bourdieu’s concept of habitus, a habit is a set of socially constructed dispositions that constantly changes. Habits require the interaction between persons and environment, both of which are dynamic. Therefore a habit can never be mechanical, but, in this view, necessarily allows for adaptations and growth – and, thus, innovation.</p>

<p>Unfortunately, Behaviorism’s view of habits is still seen in current research as an automatic gesture in response to environmental stimuli (e.g. Lally, van Jaarsveld, Potts, &amp; Wardle, 2010.) Seen thus, a habit is the antithesis of creativity. If repetition, or reflex, is seen as backwards, then this conception of habit puts it far away from creativity.</p>

<p class="lead">However, research shows a strong and intuitive link between habit and creativity.</p>

<blockquote><p>"It is almost impossible to have a good new idea without have first been immersed in a particular symbolic system or domain"</p><footer>Csikszentmihalyi, 2000, p. 339.</footer></blockquote>


<p>One example comes from an Easter egg decoration ritual in Romania (Glaveanu &amp; Lahlou, 2012). Field researchers found that <em>nonexperts</em> attended to factors such as how straight the lines of their designs were, or whether their shade of color was appropriate. <strong>Experienced artisans focused on more abstract aesthetic qualities of their models, such as the addition of personal elements.</strong></p>

<p>Chau and Iyegar (2008) also examined the effect of prior experience and creative performance. One group of their research subjects had previous experience in the task domain, while the other did not, and superlative creativity was observed only in the group that had prior experience in the task.</p>

<p>Kaufman and Kaufman (2007), examined 215 contemporary fiction writers, and found that <strong>it took on average ten to twelve years to produce a masterpiece after they began publishing</strong>.</p>

<p class="lead">Habits predispose us towards certain processes and outcomes, but not as a reflex response in reaction to a stimulus. Creativity relies on existing habits - innovation is an adaption of the old.</p>


<p>Habits allows for creative work to continue beyond its current state, because the fundamental actions have become “refined mental representations” which allows for awareness to other details (Erikson, 1998, p. 91.) Thus experts can <strong>"generate better actions than their less skilled peers even in situations they have never directly experienced."</strong></p>

<p>In this article, I have argued that habit is not a mindless response to environmental cues. Research suggests that habits allow for more efficient processing of tasks, which frees the mindful performer to concentrate on other details in the domain, or to improvise in cases of unfamiliarity. Such improvisations may still occur within a domain structure, as improvisers draw on exercised patterns in order to create a novel performance.</p>

    </div>
    </div>
    <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->

    <% include ../includes/sidebar %>
        <% include ../includes/footer %>