<% include ../includes/header %>

    <h1 class="page-title">
        <%= title %>
    </h1>
    <div class="page-content">
        
        <p>There is a movement currently towards flat-file websites and content-management systems. One example comes from <a href="http://jekyllrb.com/">Jekyll</a>, which allows web masters to write in <a href="http://daringfireball.net/projects/markdown/">markdown</a>, and then stores a conversion of that into HTML. The CMS loads the static HTML and CSS, rather than querying a database for pages. The result is a faster website, but one that stil allows for easy content creation.</p>
        <p>The driving force behind this movement is an obsession with minimalism. Perhaps it's because we've been in the recession for so long, but minimism is coming back again after a period of expansiveness in web technologies. For sure, computer technologies have always been tended towards minimalism for the sake of efficiency. But this is a refound obsession.</p>
        <p>I have always been fascinated with Paul Graham's website. It's so ugly. And yet, it is incredibly popular functions perfectly; it fulfils its design intention.</p>
        
        <p></p>
    
    </div>

<% include ../includes/footer %>