<% include ../includes/header %>

<% title += "<div class='header-subtitle'><blockquote><p>It is not how much we have, but how much we enjoy, that makes happiness</p><footer>Charles Spurgeon</footer></blockquote></div>"; %>
<% include ../includes/post-content-head %>

<div class="page-content">
	<p>It's a strange fact that the more prosperous and technologically advanced our society becomes, the more people seemed riddeled with self-doubt and unhappiness. Psychologists have suggested that we time each day focusing on the things that are right with our lives - the things that we are grateful for, and the things that have gone well.</p>

	<p>Here is a list of sentence stems that we can complete as often as we like, which will focus our minds on the good in our lives. To use this, complete each stem 5-10 times in the textboxes below, or copy the stems across and use them somewhere offline.</p>

	<p>For example: </p>
	<p><strong>I am appreciative of:</strong><br/>
		the fun that I had today<br/>
		the access to electricity that I have that allows me to write this</br>
		the technology that allows me to share this tool with others</br>
		the good health that I am experiencing in this moment</br>
		the comfortable access to food and water that I've had throughout my life</br>
	</p>

	<p>You will see that there are many stems here designed to trigger positive affect and rememberance. I find that completing them all in one sitting has a tremendous effect on me.</p>



	<h3>I am appreciative of -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I were good enough just as I am -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>I proud of -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>I am good at -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I fell in love with myself more deeply today -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>I am excited about -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>I I am grateful for -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>I am most happy about -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>My life is great because -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>One thing I love doing is-</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I allow myself to be truly happy today -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>I love -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>I am loved by -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>I am important to the world because-</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>Three things that went well today were-</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>One great thing about myself is that I-</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>One great thing about life is that-</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I take more responsibility for my thoughts and feelings-</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

</div>
</div>

<% include ../includes/footer %>