<% include ../includes/header %>
<% include ../includes/post-content-head %>
    <div class="page-content">

    <p>To solve this problem, I used a strategy outlined in <em>Introduction to Algorithms</em> (pp. 350-356)
    by Cormen, Leiserson, Rivest and Stein - a common CS textbook (a copy of which I happened to pick up for free recently 
    on the side of the road near Dolores Park; I'm stoked.)</p>

    <p>If you don't have access to the textbook, or you learn better through a lecture,
    the algorithm is fairly well explained in a MIT OpenCourseWare video on YouTube, which I will link to at the bottom of this post.</p>

    <p>In any case, here is my imlementation in JavaScript:</p>
<script src="https://gist.github.com/graemeboy/d8851af3f3bd0632c83a.js"></script>
    
    <p>Here is the MIT lecture that I mentioned earlier:</p>

    <iframe width="420" height="315" src="https://www.youtube.com/embed/V5hZoJ6uK-s" frameborder="0" allowfullscreen></iframe>

    </div>
<% include ../includes/footer %>