<% include ../includes/header %>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
    <h1 class="page-title">
        <%= title %>
    </h1>
    <div class="post-meta">June 2014</div>
    <div class="page-content">

        <p>I'm assuming that you either have one or more existing products that you are selling, or have at least one strong business plan.</p>

        <p>An identity can serve as a guide for planning and action. For example, <em>Basecamp's</em> identity (a product by <em>37Signals</em>) is a management platform for mid-size companies. When these mid-size companies outgrow Basecamp, the product does not grow with them - Basecamp stays true to its identity, and lets these company graduate to a larger platform. Why would any company choose to lose their largest, and growing customers? Because they know that their identity plays to their strengths, <em>which keeps the product competitive within a specific domain</em>.</p>

        <p>
            The way to assess a company's particular strengths is by <strong>analyzing <em>product/market segments.</em></strong> This is the key to understanding the identity of your enterprise, and is the topic of this post.</p>

        <p>Product/Market segmentation begins with categorizing the products or services that you have to offer. Following this, identify specific customer groups for each product. Multiply the number of products by the number of groups, and you have the total number of product/market segments.</p>

        <h3>Example</h3>
        <p>If you have a software company that makes plugins, you might have three categories of products:</p>

        <ul>
            <li>Wordpress plugins</li>
            <li>Drupal Plugins</li>
            <li>Joomla Plugins</li>
        </ul>

        <p>Within those three categories, you might have the follow categories of customers:</p>

        <ul>
            <li>Bloggers</li>
            <li>Business Owners</li>
            <li>Internet Marketers</li>
        </ul>



        <p>Therefore, you have 9 product/market segments (3 kinds of customers x 3 categories of products).</p>

        <h3>Analyzing the Segments</h3>
        <p>You can assess these segments using two sets of data: data from <strong>sales</strong> and data from <strong> profit</strong>. Usually one takes data from the last three years. It is useful to make a pie chart of the three segments that have the largest sales, and then the three with the largest profit.</p>

        <div class="pull-left" style="margin-right: 20px">
            <div id="honorsPie"></div>
        </div>
        
        <p>This will tell you which market segments are generating the greatest return, and where you, as a company, have the greatest market strength.</p>
            
            <p>Important questions follow from this analysis.</p> For your largest segments: Why are you particularly effective in this area? Is there some unmet need that you're serving there?</p>

        <p>Most importantly, ask yourself: <strong>which market segments will make or break your business?</strong></p>

        <div class="clearfix"></div>
        <h4>Further Reading:</h4>
        <ul>
            <li><em>The New Business Road Test: What Entrepreneurs and Executives Should Do Before Writing a Business Plan</em> by John Mullins</li>
            <li><em>Creating You & Co.</em> by William Bridges</li>
            <li><em>Key Strategy Tools</em> by Vaughn Evans</li>
        </ul>



        
    </div>
    </div>
    <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
    <style type="text/css">
        .slice text {
            font-size: 11pt;
            fill: #fff;
        }
        .vizTitle {
            font-size: 12pt;
            font-weight: bold
        }
    </style>
    <script type="text/javascript">
        var w = 280, //width
            h = 360, //height
            r = 140, //radius
            colors = ['#2A587F', '#2873B2', '#53AFFF', '#6DBBFF', ];
        color = function(i) {
            return colors[i];
        };

        honorsData = [{
            "label": "Wordpres/Bloggers",
            "value": 95
        }, {
            "label": "Drupal/Business",
            "value": 58
        }, {
            "label": "Jooma/Business",
            "value": 48
        }, {
            "label": "Other",
            "value": 42
        }, ];
        var vis = d3.select("#honorsPie")
            .append("svg:svg")
            .data([honorsData])
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("transform", "translate(" + r + "," + (r + 40) + ")")
         var arc = d3.svg.arc()
            .outerRadius(r);
        var pie = d3.layout.pie()
            .value(function(d) {
                return d.value;
            });
        var arcs = vis.selectAll("g.slice")
            .data(pie)
            .enter()
            .append("svg:g")
            .attr("class", "slice");
        arcs.append("svg:path")
            .attr("fill", function(d, i) {
                return color(i);
            })
            .attr("d", arc);
        arcs.append("svg:text")
            .attr("transform", function(d) {
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";
            })
            .attr("text-anchor", "middle")
            .text(function(d, i) {
                return honorsData[i].label;
            });

         //        vis.append("svg:text")
         //            .attr("x", -70)
         //            .attr("y", 125)
         //            .text(function(d, i) {
         //                return "Women: 83; Men: 51";
         //            });
        vis.append("svg:text")
            .attr("x", -75)
            .attr("class", "vizTitle")
            .attr("y", -160)
            .text(function(d, i) {
                return "High Sales Segments";
            });

        awardsData = [{
            "label": "Wordpres/Bloggers",
            "value": 92
        }, {
            "label": "Drupal/Business",
            "value": 50
        }, {
            "label": "Other",
            "value": 20
        }, {
            "label": "Jooma/Business",
            "value": 54
        }, ];
        vis = d3.select("#awardsPie")
            .append("svg:svg")
            .data([awardsData])
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("transform", "translate(" + r + "," + (r + 40) + ")")
         arc = d3.svg.arc()
            .outerRadius(r);
        pie = d3.layout.pie()
            .value(function(d) {
                return d.value;
            });
        arcs = vis.selectAll("g.slice")
            .data(pie)
            .enter()
            .append("svg:g")
            .attr("class", "slice");
        arcs.append("svg:path")
            .attr("fill", function(d, i) {
                return color(i);
            })
            .attr("d", arc);
        arcs.append("svg:text")
            .attr("transform", function(d) {
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";
            })
            .attr("text-anchor", "middle")
            .text(function(d, i) {
                return awardsData[i].label;
            });

         //        vis.append("svg:text")
         //            .attr("x", -70)
         //            .attr("y", 125)
         //            .text(function(d, i) {
         //                return "Women: 115; Men: 56";
         //            });
        vis.append("svg:text")
            .attr("x", -64)
            .attr("class", "vizTitle")
            .attr("y", -160)
            .text(function(d, i) {
                return "High Profit Segments";
            });
    </script>

    <% include ../includes/sidebar %>
        <% include ../includes/footer %>