<% include ../includes/header %>
    <h1 class="page-title">
        <%= postTitle %>
    </h1>
    <div class="post-meta">June 2014</div>
    <div class="page-content">

<p>Gurus are defined not by their expertise, but rather by their followers.</p>

<p>A guru is looked to by his or her followers for guidance. To these followers, the guru is an exemplar - someone who can show them how achieve a specific goal. This task can be anything from internet marketing, to spiritual enlightenment. In all cases, the guru either consistently performs these tasks in a way that leads to good results, or at least appears to have done so in the past.</p>

<p>The follower's goal is to replicate these behaviors, and achieve a similar level of success. If the follower does replicate the guru's success, then the guru's status is diminished, and the follower can hypothetically become a guru. The slower the rate of the follower's success, the more secure is the status of the guru.</p>

<p>By watching the guru, the follower hopes to learn specific methods of  success. By being followed, the guru's success is validated to others, which often leads to an even greater following.</p>

<p>The guru status can be a fantastic source of a weath (and other perks, such as fame, or sex with followers) - as in the examples of Osho, or Baba Muktananda (who would sleep with teenage female devotees), or the case of marketers who only make money by teaching (but not testing) their marketing techniques.</p>

<p>Gurus don't need to have all of the answers. In fact, it is often advantageous if the guru has little to say on the actual matter. Spiritual gurus get away with this by arguing that their "truth" cannot be put into mere words, and therefore must "teach" by prescribing  practice (such as meditation, or tantric yoga). Marketers will often talk about their own examples of success, without delivering specific principles.</p>

<p>Most gurus are usually highly charismatic and energetic. This allows them to appear to say a lot, when the real content is dismal. An example is Slavoj Žižek, the political pundit. I will embed a video of Žižek at the end of this post, so that you can see what charisma without substance looks like.</p>

<p>With highly charismatic gurus, to imagine what the argument would look like, were it written down. Then, try to understand the key points in bullet-point form. If you can't make one bullet, then the content is probably without substance.</p>

<p>I think that another border-line example is Gary Vaynerchuk. I like Gary, and I appreciate his energy. I'm also sure that he really knows what he's talking about when it comes to wine. However, sometimes I will read his books, or watch his videos, and I see the Žižek effect. It's high energy, and it's entertaining, but there is a lack of original ideas that I could write out in bullet-form.</p>

<p>In the video that launched Gary's speaking career (currently 786K views; embedded at the bottom of this post), he speaks at length about not doing "shit you hate." For 16 minutes, his message is to do things that you want to do, by building a business online, working hard, and caring about your userbase. This is the O'Reilly videos that turned Gary into an internet sensation - not as a motivational speaker, which would have been appropriate, but as an <em>marketer</em>. Gary spends a lot of time in that video giving anecdotes, which can be a great way to maintain attention without making a point.</p>

<p>I would say that Gary actually makes three clear points about marketing in this 16-minute video:</p>

<ul>
<li>Building brand equity is important</li>
<li>Use all of the social networks to connect with users</li>
<li>Care about users</li>
</ul>


<p>If your dad called you up and announced this on Skype this evening, would you predict that he is going to become the next marketing guru? No. Because it's not about the message, it's <em>how he said it</em> that matters. And that's a well-worn truth about communication.</p>

<p>When dealing with the more seductive Gurus, we can keep in mind a quote by Christopher Hitchens in <em>Letters to a Young Contrarian</em>:</p>

<blockquote><p>"Beware the irrational, however seductive...Distrust compassion; prefer dignity for yourself and others...Picture all experts as if they were mammals...Do not live for others any more than you would expect others to live for you."</p></blockquote>

        <h3>The video that launched Gary Vaynerchuk's speaking career</h3>
        <p>Try to find more than 3 solid bullet points here about marketing.</p>
        <iframe width="420" height="315" src="//www.youtube.com/embed/EhqZ0RU95d4" frameborder="0" allowfullscreen></iframe>
        
        
        
        <h3>A randomly chosen video about Zizek</h3>
        <p>Try to make a bullet-point outline of his argument. Don't get pulled in by his charisma.</p>
        
       <iframe width="560" height="315" src="//www.youtube.com/embed/yuqiJWo9Xis" frameborder="0" allowfullscreen></iframe>

        <div class="call-to-action">
            <%- callToAction %>
        </div>
    </div>
    </div>
    <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->

    <% include ../includes/sidebar %>
        <% include ../includes/footer %>