<% include ../includes/header %>
<% include ../includes/post-content-head %>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
    <div class="page-content">

<p>Richard Davidson is now one of the most respected researchers in psychology and neuroscience. He produces massive amounts of research every year, and is the most prominent academic promoting meditation in the United States.</p>

<p>But there was a time when Davidson struggled to make rent, and a friend of his helped him land a small gig in a marketing department. Davidson's claim was that he could analyse the neurological patterns of people while they watched advertisements, which would help test which ads would be more successful.</p>

<p>Davidson figured out which parts of the brain would become more active when a person experienced the emotion of disgust. Then, he analyzed the brain activity of subjects while they watched a short television ad. If the "disgust parts" of the brain were active while they were watching the ad, then it was probably no good.</p>

<p>Experiments such as these were the first examples of "neuromarketing" (the actual term was coined much later, in 2002.)</p>

<p>From other research in neuroscience, we know that, for example, cocaine and gambling both promote dopamine in the ventral tegmental area, which is why they are both so addictive. We also know that the same thing happens when people watch porn, get complimented, or win at a computer game. This gives a concrete scientific explanation for why such rewards can make behaviors addictive, which has become a goldmine for marketers.</p>

<p>Neuromarketing uses research from neuroscience to figure out how a person will feel about a product, without needing to ask them. Instead, companies put small groups of similar people into an fMRI scanner, and see which parts of their brain become active when they use the product. If you thought it was difficult to lie in a lie-detector, or under oath (just kidding), try to do it under an fMRI. As with most problems of this nature, it's a matter of blood flow.</p>

<p>Neuromarketing techniques such as these are used by many of the largest corporations today (including Google and CBS), as they work in labs to figure out how we really feel about them.</p>

        
    </div>
    </div>
    <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->

    <% include ../includes/sidebar %>
        <% include ../includes/footer %>