<% include ../includes/header %>
<% include ../includes/post-content-head %>

<div class="page-content">
	<p class="lead">A <a href="http://www.ncbi.nlm.nih.gov/pubmed/20610847">study</a> conducted in 2010 has identified a genetic factor that seems to influence alcohol consumption in social situations.</p>

<p>Excessive alcohol consumption and dependence, already a persistent public health problem, is becoming an increasing concern for Americans. A <a href="http://onlinelibrary.wiley.com/doi/10.1111/add.12418/abstract">recent study</a> published in January 2014 <strong>revealed alcohol to be a necessary cause of common liver diseases and brain disorders</strong> – now seen as the primary causes for solely alcohol-related death. These preventable diseases are the result of long-term heavy drinking, which is often performed socially.</p>

<p>Research in psychology suggests that social drinking patterns are <em>strongly influenced by the behavior of those with whom one is drinking</em>. People tend to match the rate at which those around them are drinking, although the extent to which people do this varies on an individual basis. <a href="http://www.ncbi.nlm.nih.gov/pubmed/11950104">Scientists now argue</a> that <strong>there is a genetic factor that explains the tendency to follow the drinking patterns of others</strong>. 

<p class="lead">This particular genetic variation (of a dopamine receptor gene) causes in its host a feeling of craving whenever he or she or sees pictures, or smells certain scents, related to alcohol. These scientists argue that the variation also causes this feeling when the host observes others who are drinking.</p>

<h4>The Experiment</h4>
<p>To examine this possible effect, the drinking behaviors of 113 Caucasian adults from the University of Nijmegen in the Netherlands were studied in a laboratory bar. The bar was set up for this experiment, and allowed the experimenters to observe the participants while they drank. A non-participating confederate of the experimenters sat at the bar and drank a specified number of drinks. The purpose of the experiment was to see whether the confederate’s drinking pattern would influence carriers of the dopamine variation more than it would affect the other participants.</p>

<p>All participants were typical consumers of alcohol, and were unaware of the purpose of the study. Their DNA was tested before they started drinking, to determine whether they had the specific dopamine receptor variation. Scientists refer to this variation by its shortened name, DRD4 VNTR polymorphism. It has also been <a href="http://www.ncbi.nlm.nih.gov/pubmed/22610946">associated with ADHD in children</a>.</p>

<p>The study found that although the propensity to match other people’s drinking varied with each individual, the tendency was significantly higher in carriers of the dopamine polymorphism. This only occurred when the confederate was drinking heavily, however. In all, the results of the experiment supported the idea that <strong>people who have this genetic variation are more likely to be influenced by the drinking behavior of those around them</strong>.</p>

<p>Since these results were only found when the confederate was drinking heavily, however, the prominence of the other’s drinking rate might be as important a factor as the genetic variation in determining the propensity to match drinking.</p>

<h4>Reference</h4>

<ol>
<li>Larsen, H., van der Zwalux, C. S., Overbeek, G., Granic, I., Franke, B., &amp; Engels, R. C. M. E. (2010). A variable-number-of-tandem-repeats polymorphism in the dopamine D4 receptor gene affects social adaptation of alcohol use: Investigation of a Gene-Environment Interaction. Psychological Science, 21, 1064-1068.</li>
<li>Gawryszewski, V. P., &amp; Monteiro, M. G. (2014). Mortality from diseases, conditions and injuries where alcohol is a necessary cause in the Americas, 2007-09. Addiction. doi: 10.1111/add.12418</li>
<li>Hutchinson, K. E., McGeary, J., Smolen, A., Bryan, A., &amp; Swift, R. M. (2002). The DRD4 VNTR polymorphism moderates craving after alcohol consumption. Health Psychology, 21, 139-146.</li>
<li>Wu, J., Xiao, H., Sun, H., Zou, L., &amp; Zhu, L. (2012). Role of dopamine receptors in ADHD: A systematic meta-analysis. Molecular Neurobiology, 45, 605-620.</li>
</ol>

</div>
</div>
    <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
    <% include ../includes/sidebar %>
        <% include ../includes/footer %>