<% include ../includes/header %>

<% title += "<div class='header-subtitle'><blockquote><p>Concentrate every minute on doing what's in front of you with precise and genuine seriousness, tenderly, willingly, with justice. And on freeing yourself from all other distractions. Yes, you can, if you do everything as if it were the last thing you were doing in your life, and stop being aimless, stop letting your emotions override what your mind tells you, stop being hypocritical, self-centred, irritable. You see how few things you have to do to live a satisfying and reverent life? If you can manage this, that's all even the gods can ask of you.</p><footer>Marcus Aurelius</footer></blockquote></div>"; %>
<% include ../includes/post-content-head %>

<div class="page-content">

	<p>I started doing sentence completion about 3 years ago, after reading about the
		technique in a psychodynamic psychology book. I've found it to be an invaluable practice to focus the mind every day, as well as for self-exploration.</p>

		<p>Here are some sentence completions that I believe will assist in transforming us into more self-aware, joyous, productive, and compassionate people - closer to the core of the stoic virtues. If you enjoy these, also check out the <a href="/joy">Joy Supplement</a>.</p>

	<h3>Living consciously to me means -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I bring 5 percent more consciousness to my life today -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I take more responsibility for my thoughts today -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>Self-acceptance to me means -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I am more accepting of my feelings -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I take 5 percent more responsibility for my life and well-being -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
    
    <h3>If I were to express 5 percent more of who I am -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I bring 5 percent more purposefulness into my life -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
    
    <h3>If I make my happiness a conscious goal -</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I make friends with my excitement…</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I really am capable of independent survival…</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>

    <h3>If I raise my self-esteem by 5 percent today</h3>
    <textarea class="form-control" style="height: 150px" placeholder="Write 6 lines that come to mind" ></textarea>
	</div>
</div>

<% include ../includes/footer %>