<% include ../includes/header %>
<% include ../includes/post-content-head %>

<div class="page-content">
<p>There's a hack to using WholeFoods salad bar - you have to choose the offerings that are worth more than $8.95 per pound. That's partly how I survived as a tourist living in the Bay Area on $50 a day during the summer of 2010. I was 20 years old.</p>

<p>As an international student, I couldn't work for money, and I actually ended up doing some computer science homework for Stanford students, in exchange for crashing in their dorm rooms. Meanwhile, I was busy working on a startup called JoinMe.to, which seems still to exist as a service on the campus.</p>

<p>There was a month before school started at Stanford, and I still had to house and feed myself. In a great stroke of luck, I secured a neat little room in a house in Berkeley for $20 a day. I had moved into the room that was originally on offer through Airbnb for $80 a day, and I had noticed a smaller empty room that wasn't on offer. I talked the host into letting me stay in that room instead, for a reduced price.</p>

<p>I bought breakfast, lunch and dinner at WholeFoods, occassionally turning to Subway if I was hungry in the evening. While I was staying at that house in Berkeley, I created a small Wordpress plugin that I traded with a blogger for about $2,500. This was a lucky break that covered my humble living and travel expenses for the summer. For my South African/Mid-Western sensibilities, living in California was extremely expensive!</p>

<p>I have since returned to live in California, in 2014 as a more financially capable adult. This time, taxes are on my mind, and rent is more of a problem. A friend recently asked me what I think about living here, and I immediately blurted out, "I think it's crazy to live in San Francisco. Taxes are high and rent is insane, so people only get out a small percent of their income to live on." And it's true; San Francisco living is suited for people making $100k a year minimum, and even then it seems like a poor investment. We're trading about $15k to state taxes and inflated rent. If instead we invested that $15k a year, over ten years at a 8% return, it would compound to $217,298.44. So that's really the price of living here instead of, say, Palm Springs, Fort Lauderdale, Seattle, or Las Vegas.</p>

<!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
    <% include ../includes/sidebar %>
        <% include ../includes/footer %>