<% include ../includes/header %>
<% include ../includes/post-content-head %>

<div class="page-content">

<p>The renowned American author of thriller fiction, Dan Brown, is a terrible writer.</p>

<p>Those who are particularly sensitive to writing style note that Brown's work is under-researched and his style generic. And yet, <em>The Da Vinci Code</em> was the second-best selling book of 2003, and millions eagerly await his upcoming books and film adaptions. The seemingly fallacious success of this author occured because, as in software, there are two aspects to a successful novel: the story, and the technology.</p>

<p>It took Sylvester Stallone 20 hours to write the smash hit <em>Rocky</em>, which netted $255 million dollars and lead to 5 sequels. Stallone then co-wrote the <em>Rambo</em> franchise with similar success. It's hard to argue with the data; Stallone is a successful writer. However, it's doubtful that many would say that he is a <em>techincally good</em> writer. On the other hand, there are many novelist and screenwriters who are technically brilliant, but who will never write a bestseller, no matter how many years they spend editing their work. They just don't have the knack for story-telling.</p>

<p>Like novels, every software product has a story. Facebook's story is that there is a world of your friends who gossip and post selfies and baby photos, while perhaps you play a witty, unattached and adventurous traveller. If you enjoy Facebook's story, you keep reading, keep using the software. Over on Twitter, the story is more like a Virginia Woolf novel - it's a chaotic tide of finely edited mini-stories, pooled together by currents of themed words and striking protagonists. You pick the story you like, and you keep reading as long as it's entertaining.</p>

<p>These stories are propped up and supported by the creator's technical ability. In the case of software, the technology is code, and in the case of literature, the technology is writing style, allegory, and research. Sometimes the technology behind these products is appreciated, like when Siri came out and impressed iPhone users with the quality of speech-recognition, but people only stay for the story (when it turned out that Siri also responds humorously to insults and romantic proposals.)</p>

<p>To the distress of many academics, purists and early-adopting techies, the trick to creating a best-seller is more often than not to forget the technology, and focus on the thrill of the story. How can you make your great technology also yield an entertaining story?</p>

</div>
<% include ../includes/footer %>