<% include includes/header %>
    <div class="main col-sm-9">
        <div class="container-fluid">
            <h1 class="page-title">
                <i class="fa fa-frown-o"></i> Page Not Found</h1>
            <div class="page-content">
                <p>Sorry, it seems that the page you're requesting is not available.</p>
                <p>If you would like to let me know about this aweful incident, let me know @graeme_boy!</p>
            </div>
        </div>
    </div>
    <% include includes/sidebar %>

        <% include includes/footer %>