<% include includes/header %>
    <div class="main col-sm-9">
        <div class="container-fluid">
            <h1 class="page-title">
                <i class="fa fa-frown-o"></i> Page Not Found</h1>
            <div class="page-content">
                <p>Sorry, it seems that the page you're requesting is not available.</p>
                <p>If you would like to let me know about this aweful incident, <a href="http://twitter.com/share?text=Hey @graeme_boy, I just found a 404 on your blog!">send me a tweet</a> and I will get back to you!</p>
            </div>
        </div>
    </div>

        <% include includes/footer %>