<% include includes/header %>
        <h1 class="page-title">Posts about <%= category %></h1>
            
        <% if (catPosts !== undefined) { %>
        <% for (var slug in catPosts) { %>
        <div class="archive-post-container container-fluid">
            <h3 class="archive-title">
                <a href="/<%= slug %>"><%= catPosts[slug] %></a>
            </h3>
        </div>
        <% } %>
            <% } else { %>
            <p>There are no posts yet about this topic.</p>
            <p>If you are interested in this topic, and want me to write about it, please <a href="http://twitter.com/share?text=Hey @graeme_boy, please write a little about <%= category %>">send me a tweet</a> about it.</p>
            <% } %>
            </div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
<% include includes/sidebar %>
<% include includes/footer %>