<% include includes/header %>
                <h1 class="page-title">Blog Posts</h1>
            <p>I have written posts on the following topics</p>
                <ul class="cat-list">
                    
        <% for(var i=0; i<cats.length; i++) {
        %>  <li> <a href="/cat/<%= cats[i].name %>"><%= cats[i].name %> (<%= cats[i].count %>)</a></li>
        <% } 
        %></ul>
            </div> <!-- .container -->
            <div class="clearfix"></div>
        </div> <!-- .main .col-sm-9 -->
<% include includes/footer %>