<% include includes/header %>

    <div class="main col-sm-9">
        <div class="container-fluid">
            <h1 class="page-title">Recent Posts</h1>
            
            
 <p>Click on a title to read the whole article</p>
        <% for (var i = 0; i < recentPosts.length; i++) { %>
        <div class="container-fluid">
            <h3 class="page-title"><a href="<%= recentPosts[i].slug %>"><%= recentPosts[i].title %></a></h3>
            <div class="post-meta"></div>
            <div class="page-content">
                
                <% if (recentPosts[i].body.length > 350) { %>
                    <%- recentPosts[i].body.substring(0,350) %>...
                <% } else { %> <%- recentPosts[i].body %> <% } %>
            </div>
        </div>
        <% } %>
        </div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->


        <% include includes/footer %>