
<html>

    <head>
        <title>Graeme Boy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">.page-title{margin-top:30px;margin-bottom:30px}.page-content{line-height:1.5;color:#333;}.page-content { font-size: 15px; } .archive-post-container{border-bottom:1px solid #eee}.post-meta{margin-top:-20px;margin-bottom:20px;color:#999;font-weight:300;margin-left:5px}.img-citation{color:#999;font-weight:300;margin-bottom:15px}code{margin:50px 0; font-family: Consolas, "Liberation Mono", Courier, monospace; padding: 6px 10px;}h3{margin:25px 0 10px 0}h4{margin-top:25px;font-size:22px}.graeme-nav{background-color:#fff;font-size:25px;height:52px}.graeme-nav .graeme-brand{width:230px;height:48px}.graeme-nav .graeme-brand .graeme-picture{float:left;position:relative;height:48px;width:48px}.graeme-nav .graeme-brand .graeme-picture img{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;border:2px solid #eee;top:0;left:10px;position:absolute}.graeme-nav .graeme-brand h2.graeme-name{font-size:26px;font-weight:100;float:left;margin:13px 0 0 30px;color:#555}.graeme-nav .navbar-nav li a:hover{background-color:#efefef}.navbar-right li a {font-size:15px}.call-to-action{font-weight:600;margin-top:30px}.sidebar h3{margin-top:40px}.sidebar .cat-list li{list-style:none;padding:5px;}.sidebar .cat-list li a{color:#999;font-size:17px;font-weight:300}.cat-list li.active { background-color: #f3f3f3; } footer{padding:20 0 40px 25px;border-top:1px solid #eee;color:#999;font-size:12px;font-weight:300}.nav-icon { height: 32px; fill:#111; width: 32px; background-image: url('/img/github.svg');} code.wrap { padding: 10px 10px; white-space: pre-wrap; border: 1px solid rgba(199, 37, 78, 0.2); display: block; margin:0;}.post-thumb{ margin-bottom: 5px; margin-right: 10px; } @media (min-width: 767px) { .post-container { margin-left: 65px; } }  </style>
        <link rel="author" href="https://plus.google.com/+GraemeBoy/posts"/>
        <meta name="google-site-verification" content="D0Ab0nyRLnWFGIEoiX2WIYxfY_-DJvXJPlkB3nVx7to" />
    </head>

    <body>
        <nav class="graeme-nav navbar navbar-default" role="navigation">
    <div class="navbar-header graeme-brand">
        <div class="graeme-picture">
            <img src="/img/graeme-picture.jpg" width="51px" height="51px">
        </div>
        <div>
            <a href="/">
                <h2 class="graeme-name">Graeme Boy</h2>
            </a>
        </div>
    </div>
    <!-- .navbar-collapse -->
</nav>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<style type="text/css">
    #exp-container {
        background-image: url( 'http://i.imgur.com/PWBdZ4J.jpg' );   
        height: 480px;
        color: #fff;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        margin-top: -20px;
    }
    #exp-container h1 {
        font-weight: 100;   
        margin-top: 50px;
        font-size: 44px;
        letter-spacing: 2;
    }
    .home-based {
        text-align: center;
        font-size: 18px;
        line-height:25px;
        font-weight: 100;
        margin-top: 40px;
        letter-spacing: 1.2;
        min-height:50px;
    }
    .home-based-text, .home-based-twitter {
        display:none;
    }
    .cat-list li a {
        color: #fff;
    }
    .home-cat-container {
        margin-top: 40px;
        text-align:center;
        padding: 15px 0;
        background: rgba(0,0,0,0.1);
    }
    .home-cat {
/*        margin-right: 15px;*/
        display: none;
    }
    .home-cat a {
        padding: 5px 12px;
        border: 2px solid #fff;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        min-width: 116px;
        width: 100%;
        background: rgba(255,255,255,0.15);
        font-size: 15px;
    }
    .home-cat a:hover {
        background: rgba(255,255,255,0.6);
        text-decoration: none;
    }
    .home-actions {
       
    }
    .visitor-stats {
        margin-top: 25px;
        color: #fff;
        font-size: 22px
    }
    .visitor-stats div {
        margin-bottom: 5px   
    }
    .visitor-stats span.glyphicon {
        margin-right: 10px
    }
    .home-soc-btn {
        padding: 5px;
        display: none;
    }
    .home-social {
        margin-top: 65px;   
    }
    .home-social a {
        color: #fff;
        font-size: 42px;
        margin-right: 15px;
/*
        border: 1px solid #fff;
        padding: 8px 5px 5px 8px;
        border-radius: 50%;
*/
    }
    .home-vis-stat {
        display: none;
    }
    a.btn-tw:hover {
        color: #55acee 
    }
    a.btn-fb:hover {
        color: #3d5b99;
    }
    a.btn-gplus:hover {
        color: #ffb401 ;
    }
</style>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript">
           jQuery(document).ready(function ($) {
            
               setTimeout(function () {
                   $('.home-based-text').fadeIn(400);
                   $('.home-based-twitter').fadeIn(1000);
               }, 1000);
            var x;
            $('#creative-header').fadeIn(500);
            x = 1;
            $('.home-vis-stat').each(function () {
                $(this).fadeIn(450 * x);    
                x++;
            });
               
            x = 1;
            $('.home-cat').each(function () {
                $(this).fadeIn(x * 250);
                x++;
            });
            
            x = 1;
            $('.home-soc-btn').each(function () {
                $(this).fadeIn(x * 100);
                x++;
            });
           });
        </script>
<div id="exp-container" class="container-fluid">
    <h1 id="creative-header" style="text-align:center;display:none">Creatively Building the Web</h1>
    <div class="home-cat-container">
        <div class="row-fluid col-sm-12 col-md-9 col-md-offset-3">
            <div id="cat-product" class="col-sm-3 col-md-2 home-cat"><a href="cat/product">Product</a></div>
            <div id="cat-psych" class="col-sm-3 col-md-2 home-cat"><a href="cat/psychology">Psychology</a></div>
            <div id="cat-node" class="col-sm-3 col-md-2 home-cat"><a href="/cat/nodejs">Node.js</a></div>
            <div id="cat-css" class="col-sm-3 col-md-2 home-cat"><a href="cat/css">CSS</a></div>
        </div>
        <div class="row-fluid col-sm-12 col-md-9 col-md-offset-3" style="margin-top:15px">
            <div id="cat-marketing" class="col-sm-3 col-md-2 home-cat"><a href="cat/wordpress">Wordpress</a></div>
            <div id="cat-fitness" class="col-sm-3 col-md-2 home-cat"><a href="cat/fitness">Fitness</a></div>
            <div id="cat-travel" class="col-sm-3 col-md-2 home-cat"><a href="cat/travel">Travel</a></div>
            
            
            <div id="cat-php" class="col-sm-3 col-md-2 home-cat"><a href="cat/php">PHP</a></div>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="home-based"><div class="home-based-text">Writing beautiful code from South Africa</div><div class="home-based-twitter">@graeme-boy</div></div>
    
    <div class="home-actions">
        <div class="visitor-stats pull-left hidden-xs ">
          <div class="home-vis-stat"><span class="glyphicon glyphicon-pencil"></span> 15 Articles</div>
            <div class="home-vis-stat"><span class="glyphicon glyphicon-stats"></span> 90,000 Visitors/Month</div>
            <div class="home-vis-stat"><span class="glyphicon glyphicon-time"></span> 430ms Avg Page Loading Time</div>
        </div>


        <div class="home-social hidden-xs pull-right">
            <a class="home-soc-btn btn-tw" href="https://twitter.com/graeme_boy"><i class="fa fa-twitter"></i></a>
            <a class="home-soc-btn btn-fb" href="https://www.facebook.com/graeme.boy"><i class="fa fa-facebook"></i></a>
            <a class="home-soc-btn btn-gplus" href="https://plus.google.com/u/0/+GraemeBoy/posts"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>
<div class="clearfix"></div>
    </div>
    
    <!-- .container -->
    <div class="clearfix"></div>
    </div>

    <!-- .main .col-sm-9 -->
    <% include includes/footer %>