<% include includes/header %>

    <div class="main col-sm-9">
        <div class="container-fluid">
            <h1 class="page-title"><%= postTitle %></h1>

            <div class="page-content">
                <%- postContent %>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->

    <% include includes/sidebar %>

        <% include includes/footer %>