<% include includes/header %>
            <h1 class="page-title"><%= postTitle %></h1>
            <div class="post-meta"></div>
            <div class="page-content">
                <%- postContent %>
                <div class="call-to-action"><%- callToAction %></div>
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->

    <% include includes/sidebar %>

        <% include includes/footer %>