<% include includes/header %>
            <h1 class="page-title">Hi Rishan</h1>
            <div class="post-meta"></div>
            <div class="page-content">
                <p>This post is an example of how link-cloaking might work more efficiently. Skim this post, and then try clicking on the links</p>
                
                <p>Let me tell you a story. There is a company that I really like, called <a href="http://www.google.com" class="clk">Google</a>. Google was founded by some PhD candidates at <a href="http://www.stanford.edu" class="clk">Stanford</a>, who were really great at math, but terrible at web development.</p>
                <p>There are two very ironic things about the Google founding story. And to get this irony, you need to understand two things about <a href="http://en.wikipedia.org/wiki/Larry_Page" class="clk">Larry Page</a> and <a href="http://en.wikipedia.org/wiki/Sergey_Brin" class="clk">Sergey Brin</a>. 1., they are nutoriously bad at public speaking, and 2., they knew very little about HTML and front-end web development. Funny, these weaknesses were to be the cause of their success. The founders were so bad at pitching to investors that they couldn't even sell <em>Google,</em> though they tried. And they were so bad at creating web interfaces that they could only manage a basic search box and a logo. Had they been any better at these skills, Google would probably never have become what it is today.</p>
               <p>While you were reading this post (though probably before you read the first word), a script quietly detected your browser information, and added event-listeners to each of the links. If you are not currently in the United States, you will find that these links don't point where you would expect them to.</p>
                <p>This switch happens almost instantaneously, and yet the page always looks the same to users and search engines. The load time of the page is exactly the same as if would be we if you didn't have this script installed at all.</p> 
            </div>
        </div>
        <!-- .container -->
    </div>
    <!-- .main .col-sm-9 -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/rishan.min.js"></script>
        <% include includes/footer %>