<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/admin/style.css" rel="stylesheet">
</head>

<body>